<!-- views/pages/hello.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <p><%= tagline %></p>
        <p>Current language is: <%=lang %></p>
        <%# using in18next in template directly %>
        <p><%= t('common:hello') %></p>
        <p><%= welcome %></p>
        <h2>Available drinks:</h2>
        <ul>
          <% drinks.forEach(drink => { %>
          <li><%= drink.name %> - <%= drink.drunkness %></li>
          <% }) %>
        </ul>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
